@font-face {
  font-family: Comfortaa;
  src: url('/fonts/Comfortaa-Medium.ttf');
}

@font-face {
  font-family: IslandMoments;
  src: url('/fonts/IslandMoments.ttf');
}

$breakpoint-xxxs: 320px;
$breakpoint-xxs: 460px;
$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 900px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1360px;
$breakpoint-xxl: 1600px;

:root {
  --font-main: Comfortaa, sans-serif;
  --font-logo: IslandMoments, sans-serif;
}

:root[data-theme="light"] {
  --background-color: #FFEFF6;
  --background-menu: #F5AAC9;
  --background-btn-active: #FFEFF6;
  --border-btn-active: #131313;

  --main-color: #131313;
  --main-color-contrast: #131313;
  --dull-color: rgba(219, 219, 219, 0.8);
  --bright-color: #FCFCFC;
  --input-color: rgba(255, 255, 255, 0.3);
}

:root[data-theme="dark"] {
  --background-color: #131313;
  --background-menu: #F5AAC9;
  --background-btn-active: #ECECEC;
  --border-btn-active: #131313;

  --main-color: #E7E7E7;
  --main-color-contrast: #131313;
  --dull-color: rgba(219, 219, 219, 0.8);
  --bright-color: #FCFCFC;
  --input-color: rgba(255, 255, 255, 0.3);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  display: grid;
  grid-template-rows: max-content 1fr max-content;

  background: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.svgTheme {
  color: var(--main-color);

  path,
  line {
    fill: var(--main-color);
  }

  ellipse,
  circle {
    fill: var(--main-color);
  }
}

.svgThemeLine {
  path,
  line {
    stroke: var(--main-color);
  }

  ellipse,
  circle {
    fill: var(--main-color);
  }
}
