.main {
  display: grid;
  grid-template-columns: 1fr max-content max-content max-content;
  position: relative;
  padding: 0 30px 0 40px;
  height: 70px;

  .instagramIcon {
    margin: auto 12px auto 36px;
  }

  .instagramLink {
    margin: auto 36px auto 0;

    font-family: var(--font-main);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
  }

  .line {
    position: absolute;
    bottom: 0;
  }
}
