.navbarContainer {
    display: grid;

    .navbar {
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        height: 30px;

        @media (max-width: $breakpoint-md) {
            display: none;
        }

        a {
            font-family: var(--font-main);

            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: var(--main-color);

            padding: 0 10px 0 10px;
            margin: 0 5px 0 5px;

            cursor: pointer;

            &.active {
                background: var(--background-btn-active);
                color: var(--main-color-contrast);
                border-radius: 30px;
                border: 1px solid var(--main-color);

                cursor: auto;
            }

            &:hover {
                background: var(--background-btn-active);
                color: var(--main-color-contrast);
                border-radius: 30px;
            }
        }
    }

    .menu {
        display: none;
        height: 100%;
        left: 0;

        svg {
            margin: auto 0 auto 0;
        }

        path {
            stroke: var(--line-color);
        }

        @media (max-width: var(--breakpoint-md)) {
            display: flex;
        }
    }
}
