.navbarContainer {
  display: grid;
  font-family: var(--font-main);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--main-color);

  .navbar {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    height: 30px;

    @media (max-width: 930px) {
      display: none;
    }

    a {
      display: flex;
      align-items: center;
      padding: 0 10px;
      margin: 0 5px;
      cursor: pointer;

      &.active {
        background: var(--background-btn-active);
        color: var(--main-color-contrast);
        border-radius: 30px;
        border: 1px solid var(--main-color);
        cursor: auto;
      }

      &:hover {
        background: var(--background-btn-active);
        color: var(--main-color-contrast);
        border-radius: 30px;
      }
    }
  }

  .navbarMobil {
    display: none;

    @media (max-width: 930px) {
      &.active {
        display: grid;
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: 70%;
        padding: 85px 65px 70px 15px;
        z-index: 1;

        background-image: url('../../../public/img/menuBackground.svg');
        background-repeat: no-repeat;
        background-size: auto 100vh;
      }
    }
  }

  .menu {
    background: inherit;
    border: none;
    display: none;
    z-index: 1;

    @media (max-width: 930px) {
      display: flex;
    }

    svg {
      margin: auto 0;
    }
  }
}
