.main {
    margin-top: auto;
    margin-bottom: auto;

    display: flex;

    height: 30px;

    a {
        font-family: var(--font-main);

        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--font-color);

        padding: 0 10px 0 10px;
        margin: 0 5px 0 5px;

        cursor: pointer;

        &.active {
            background: var(--background-active-btn-header);
            color: var(--font-color-contrast);
            border-radius: 30px;
            border: 1px solid var(--font-color);

            cursor: auto;
        }

        &:hover {
            background: var(--background-active-btn-header);
            color: var(--font-color-contrast);
            border-radius: 30px;
        }

    }
}
